.headerDropdown{
  border: 1px solid #D7DBDD;
  padding: 5px;
}
.tableContent{
  margin-top: 2rem;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.pagination button.active {
  background-color: #0056b3;
}
.searchBar{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.labelInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelInputContainer label {
  margin-right: 10px; 
}
.labelInputContainer select{
  width: 50%;
  
}