.dataTableTheme {
  background-image: linear-gradient(black, #1d242c, #222d38);
  color: white;
  min-height: 95vh;
}
.dataTableDefaultTheme {
  background-image: linear-gradient(rgb(238, 233, 233), #c4c5c6, white);
}
.headerDropdown{
  border: 1px solid #434444;
  padding: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #34495E;
  color: white;
  cursor: pointer;
}
.pagination button:disabled {
  background-color: #34495E; 
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #fff;
  color :#34495E;
  border: 1px solid #34495E;
}
.searchBar{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.labelAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.labelAlignment label {
  margin-right: 10px; 
}
.labelAlignment select{
  width: 50%;
}
.messageBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}
.scrollable-table{
  max-height: 400px;
  overflow: auto
}
table {
  border-collapse: collapse;
}
.scrollable-table::-webkit-scrollbar {
  display: none;
}
.tableContent th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}