.dataTableTheme {
  background-image: linear-gradient(black, #1d242c, #222d38);
  color: white;
  min-height: 95vh;
}
.dataTableDefaultTheme {
  background-image: linear-gradient(rgb(238, 233, 233), #c4c5c6, white);
}
.headerList{
  margin-bottom: 15px;
  display: inline-block;
  position: relative;

}
.headerDropdown{
  border: 1px solid #434444;
  padding: 10px;
  min-width: 100px;
  background-color: white;
  color: black;
  position: absolute; 
  top: 100%; 
  left: -20%; 
  z-index: 1000;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #34495E;
  color: white;
  cursor: pointer;
}
.pagination button:disabled {
  background-color: #34495E; 
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #fff;
  color :#34495E;
  border: 1px solid #34495E;
}

.labelAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.labelAlignment label {
  margin-right: 10px; 
}
.labelAlignment select{
  width: 50%;
}
.messageBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}
.scrollable-table{
  max-height: 400px;
  overflow: auto
}
table {
  border-collapse: collapse;
}
.scrollable-table::-webkit-scrollbar {
  display: none;
}
.tableContent th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
